@page
@model computerLitModel
@{
    ViewData["Title"] = "Computer Literacy Course";
}

<style>
    .button{
        font-size: 16px;
        border: none;
        background-color: forestgreen;
        color: white;
        text-align: center;
        opacity: 0.5;
        transition: 0.3s;
    }
    .button:hover {
        opacity: 1;
        background-color: forestgreen;
    }
</style>

<button class="button" onClick="location.href='/Courses'" type="button">Back to Courses</button>

<h1>@ViewData["Title"]</h1>


