@page
@model CoursesModel
@{
    ViewData["Title"] = "Courses";
}
<h1>@ViewData["Title"]</h1>

<style>
    .message, h1{
        color: forestgreen;
    }
</style>

<div class="message">
    <p>Python3 IDE</p>
</div>

<iframe src="https://trinket.io/embed/python/edd948bf08" width="50%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>

