@page
@model CoursesModel
@{
    ViewData["Title"] = "Courses";
}
<h1>@ViewData["Title"]</h1>

<style>
    .message, h1{
        color: forestgreen;
        font-family: 'Varela Round', sans-serif;
    }

    p{
        color: forestgreen;
        font-size: 20px;
        font-family: 'Varela Round', sans-serif;
    }

    .navButton {
        background-color: forestgreen;
        border: 2px solid forestgreen;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        transition-duration: 0.4s;
        width:50%;
    }
   .navButton:hover {
       background-color: white;
       color: forestgreen;
   }

</style>

@*
    code to navigate from the course page to python or web dev courses
*@
<p>
    Welcome to Course where you can learn Python or Web Development (HTML) through beginner level projects! <br> 
    Get started now by selecting a course!
</p>
<br>
<button class= "navButton" onClick="location.href='/computerLiteracy'" type="button">Computer Literacy</button><br><br>
<button class= "navButton" onClick="location.href='/Python'" type="button">Python</button><br><br>
<button class= "navButton" onClick="location.href='/WebDev'" type="button">Web Development</button><br><br>


