@page
@model CoursesModel
@{
    ViewData["Title"] = "Courses";
}
<h1>@ViewData["Title"]</h1>

<style>
    .message, h1{
        color: forestgreen;
    }
</style>

<div class="message">
    <p>C++ IDE</p>
</div>

<div data-pym-src="https://www.jdoodle.com/embed/v0/4Fmi"></div>
<script src="https://www.jdoodle.com/assets/jdoodle-pym.min.js" type="text/javascript"></script>

