@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
.valueProp, .text1, .text2, .welcome{
    color: forestgreen;
}

.text1{
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 40px;
}

.welcome{
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 20px;
}

.text2{
    padding-top: 70px;
}

</style>

<div class="text-center">
    <p class="welcome">Welcome</p>
    
    <div class="valueProp">
        <p>CodeHub is a free, self-paced programming education web-application designed to teach coding to those with no experience. </p>
    </div>
    
    <div class="text1"> 
        <p>Register now to start coding!</p>
    </div>

    <div class="text2">
        <p>Learn about the development of CodeHub <a href="https://github.com/ind9-nau/CS386-Learn_Coding.git"> Github Link</a>.</p>
    </div>
    </div>