@page
@model PythonModel
@{
    ViewData["Title"] = "Python Course";
}
<h1>@ViewData["Title"]</h1>

<style>
    .message, h1{
        color: forestgreen;
    }
</style>

@*
    code to navigate back to the original course page!
*@

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Courses">Back to Courses</a>
                        </li>
                    </ul>
                </div>
            </div>
</nav>

@*
    code to implement python IDE from trinket.io
*@

<div class="message">
    <p>Python3 IDE</p>
</div>

<div style= float: left">
<iframe src="https://trinket.io/embed/python/edd948bf08" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
</div>
    @*
        Directions for python project
        -- formatted to fit the right half of the screen w/ scroll bar
    *@

    <div style="width: 100%;height:356px;line-height:3em;overflow:scroll;padding:2px;">

      <p style="color:forestgreen; font-size: 20px;">Welcome to your first introductory Python course!</p>

      Python is a computer programming language that is considered to be more readable than other programs such as Java or C/C++ because it is dynamically typed, meaning that variable and function types are not necessary.<br />

      To begin, let's look at some examples of variables.<br />
        <p style="color: forestgreen; ">
        myName = “bailey”<br />
        myAge = 20<br />
        myWage = 15.00<br />
        </p>

      Because Python does not require types or semicolons, it is less likely to have errors when compiling, and instead of failing to compile the output of the program will likely just be unexpected. <br />

      <p style="color:forestgreen; font-size: 20px;">Getting Started</p>

      Luckily, CodeHub offers an in app IDE and tutorials for beginners and those who are just starting out. However, if you are looking to create and store programs on your personal device, third-party IDEs can be downloaded. <br />

       That being said, the convenience of CodeHub lies in the simplicity of an in-app IDE that can compile and show output at the user’s request. So no downloading and managing files are necessary, just focusing on learning the language. <br />

       <p style="color:forestgreen; font-size: 20px;">Writing Your First Python Program</p>

       Now that you are aware of Python’s usefulness and the avenues to use it in the future, the next step is to start practicing. For this first project, the goal is to become familiar with the syntax of Python. <br />

       To see output, most commonly the print() function is used. Whatever you desire to print should be placed in the parentheses of the function as a parameter. This function is included in the Python library and does not need declaration. <br />

       Simply, try printing the phrase ‘Hello World!’ using the IDE and testing the output. <br />

       Now, try creating a variable and then printing the variable in the function parameters. See the above example to format the variable initialization.  <br />

       Python can also be used to create mathematical programs. Like a calculator, the math operations (addition, subtraction, multiplication, division, etc) can be done using the corresponding symbols: <br />

       <p style="color:forestgreen;">
        Addition: + <br />
        Subtraction: - <br />
        Division: /<br />
        Multiplication: * <br />
        </p>

       Furthermore, because Python is dynamically typed, these operations can be used on most variable types. However, they are most commonly used with integers and decimals.<br />

       To get some practice, using these operations create a program that will add, subtract, multiply, and divide two numbers stored as variables and show the output of these operations. <br />

    </div>
