@page
@model QAModel
@{
    ViewData["Title"] = "QA";
}
<h1>@ViewData["Title"]</h1>

<style>
    .message, h1{
        color: forestgreen;
    }
</style>
    
<div class="message">
    <p>The Question and Answer Forum is coming soon...</p>
</div>

