@page
@model WebDevModel
@{
    ViewData["Title"] = "Web Development Course";
}

<style>
    .message, h1{
        color: forestgreen;
    }
    .button{
        font-size: 16px;
        border: none;
        background-color: forestgreen;
        color: white;
        text-align: center;
        opacity: 0.5;
        transition: 0.3s;
    }
    .button:hover {
        opacity: 1;
        background-color: forestgreen;
    }
</style>

<button class="button" onClick="location.href='/Courses'" type="button">Back to Courses</button>

<h1>@ViewData["Title"]</h1>

@*
  code to navigate back to the original course page!
*@

@*
    implementing an html IDE from trinket.io
*@
<div class="message">
    <p>HTML IDE</p>
</div>
<iframe src="https://trinket.io/embed/html/123196d411?runMode=autorun" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>

@*
    code for web dev instructions
*@

<!DOCTYPE html>
<html>
   <body>
      <div style="width: 100%; height: 356px;line-height:3em;overflow:scroll;padding:2px">
    
      <div>
         <h4>Basic HTML Structure</h4>
            <p>This is how you will structure your website. Add the html tags 
               below into the IDE.</p>
         <img src="https://media.geeksforgeeks.org/wp-content/uploads/20210401153104/htmlstrc.PNG" 
              alt="Sample picture for scroll box" width="200" height="200">
      </div>

      <div>
         <h4>Add a Title</h4>
            <p>Add the title, “Technical Documentation” in the title tag. 
               This shows up in the browser, not on the website page.</p>
      </div>
      
      <div>
         <h4>Heading</h4>
            <p>Headings are titles or subtitles that you want to display on your page. 
               HTML headings are defined with the h1 to h6 tags. Add a h3 tag in the body 
               of the page that displays the title, “Technical Documentation”.</p>
      </div>
      
      <div>
         <h4>Navigation</h4>
            <p>Add a div tag below the heading. This defines a division or a section.</p>
            <p>Below the div tag, add a ul tag, which defines an unordered list.</p>
            <p>Inside that tag, add 5 li tags to list each navigation item. In each li 
               tag, add the following topics: “Introduction”, “What you should already know”, 
               “About the topic”, “Topic 1”, and “Topic 2”</p>
            <p>Don’t forget to close each li tag, the ul tag, and the div tag.</p>
      </div>
      
      <div>
         <h4>Introduction</h4>
            <p>Now that we have added the navigation bar, it’s time to add each section and its paragraph.</p>
            <p>Since we are starting a new section, add another div tag. Close the div tag.</p>
            <p>Inside the div tags, add a h3 tag that displays the heading, “Introduction”.</p>
            <p>Inside the heading tag, add: style = “background: black; color: white”. 
               This will give the heading a black background and the font color will be white.</p>
            <p>Add an article tag, which specifies self-contained content. Inside the 
               article tag, add a paragraph tag that says, “Some content about the main 
               topic, for example Java documentation introduction about the language”</p>
      </div>
      
      <div>
         <h4>What you should already know</h4>
            <p>Add a h3 tag that displays the heading, “What you should already know”. 
               Make the heading have a background color of black and a font color of white 
               like you did before for the introduction.</p>
            <p>Add another article tag for this section.</p>
            <p>Add a paragraph tags that says, "Background information before getting into the topic:”</p>
            <p>Add an ul tag to display an unordered list of items. Then add 3 li tags,
               each one with the following corresponding phrases: “Some list content”, 
               “Prerequisites”, and "Workings and assumptions”.</p>
            <p>Add another paragraph tag that says, “Any other content to be covered 
               before learning this topic”.</p>
            <p>Close the article tag.</p>
      </div>
      
      <div>
         <h4>About topic</h4>
            <p>Add a h3 tag that displays the heading, “About topic”. Make the heading 
               have a background color of black and a font color of white.</p>
            <p>Add another article tag for this section.</p>
            <p>Add a paragraph tag that says, “More lines about the topic. For example, 
               how the basic functionality works, features etc…”.</p>
            <p>Add a paragraph that says, “Technical documentation should be thorough and to the point”.</p>
            <p>Add a paragraph that says, “Write about features, comparisons with other languages etc”.</p>
            <p>Close the article tag.</p>
      </div>
      
      <div>
         <h4>Topic 1</h4>
            <p>Add a h3 tag that displays the heading, “Topic 1”. Make the heading 
               have a background color of black and a font color of white.</p>
            <p>Add another article tag for this section.</p>
            <p>Add a paragraph tag that says, “Getting started with the actual documentation content…”.</p>
            <p>Add a code tag, which defines a piece of computer code, that says, 
               “This would come in a different color and font indicating lines of code.</p>
            <p>Close the article tag</p>
      </div>
      
      <div>
         <h4>Topic 2</h4>
            <p>Add a h3 tag that displays the heading, “Topic 2”. Make the heading 
               have a background color of black and a font color of white.</p>
            <p>Add a paragraph tag that says, “Another topic about the main topic, for 
               example, if the topic is Java, this could be variables or data types in Java”.</p>
      </div>
      
      <div>
         <h4>Congratulations!</h4>
            <p>You have completed your first web development project!</p>
      </div>
   </body>
</html>