@page
@model WebDevModel
@{
    ViewData["Title"] = "Web Development Course";
}

<style>
    .message, h1{
        color: forestgreen;
    }
    .button{
        font-size: 16px;
        border: none;
        background-color: forestgreen;
        color: white;
        text-align: center;
        opacity: 0.5;
        transition: 0.3s;
    }
    .button:hover {
        opacity: 1;
        background-color: forestgreen;
    }
</style>

<button class="button" onClick="location.href='/Courses'" type="button">Back to Courses</button>

<h1>@ViewData["Title"]</h1>

@*
  code to navigate back to the original course page!
*@

@*
    implementing an html IDE from trinket.io
*@
<div class="message">
    <p>HTML IDE</p>
</div>
<iframe src="https://trinket.io/embed/html/0d917be3f7?runMode=autorun" width="50%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
